name: Terraform apply

on:
  workflow_dispatch:

jobs:
  create:
    runs-on: ubuntu-latest
    env:
        working-directory: ./
        name: h.web1
        owner: himanshi.soni@cloudeq.com
        AWS_REGION: ap-south-1

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setting up Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id :  ${{ secrets.ACCESS_KEY}}
          aws-secret-access-key : ${{ secrets.SECRET_ACCESS_KEY }}
          aws-session-token :     ${{ secrets.SESSION_TOKEN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Deploying the infrastructure
        working-directory: ${{env.working-directory}}
        run: |
          terraform init
          terraform plan -var name="${{env.name}}" -var owner="${{env.owner}}"
          terraform apply -var name="${{env.name}}" -var owner="${{env.owner}}"  -auto-approve
      
